<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <div class="content container">
        <div class="row">
            <div class="col-md-12">
                <a href="{% url 'main' %}">Home</a>
                <a href="{% url 'books_list' %}">Catalog</a>
                <a href="{% url 'add_book' %}">Add book</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>